.logo
{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    background-color: white;
}
.nav-link.active
{
 color: yellow !important;
}

body{
    background-color: green;
}


